/*-----------------------------------------------------------------------------------*/
/*
/*      Built with blocs
/*-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:1;
    background:#FFF;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none;}


/* Globals type styling */
 h1, h2, h3, h4, h5, h6, p, label, .btn, a{
	font-family:Montserrat;
}


/* Site container width */

.container{
	max-width:1170px;
}

/* Blocs */

.bloc{
	width:100%;
	background: 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* Bloc sizes */

.bloc-xl{
	padding:200px 0;
}
.bloc-lg{
	padding:100px 0;
}
.bloc-md{
	padding:50px 0;
}
.bloc-sm{
	padding:20px 0;
}


/* Bloc - Light theme */

.l-bloc{
	color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}
.voffset{
	margin-top:30px;
}


/* Custom bloc styling */

#nav-bloc{
	background-color:#5cb8e9;
}
#bloc-1,#bloc-2,#bloc-3,#bloc-4,#bloc-5,#bloc-6,#bloc-7,#bloc-8,#bloc-9,#bloc-10,#bloc-11,#bloc-12,#bloc-13,#bloc-14,#bloc-15,#bloc-16{
	background-color:#ffffff;
}
#bloc-13 h3,#bloc-15 h3,#bloc-15 h3,#bloc-15 h3,#bloc-15 h3,#bloc-15 h3,#bloc-15 h3,#bloc-15 h3{
	color:#000000;
}
#bloc-7 p{
	font-size: 14px;
}

/* Bloc image backgrounds */

.bg-52-3-am{
	background-image:url('img/52-3_am.jpg');
}

/* NavBar */

.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	font-size: 25px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
}
.navbar-brand img{
	width: auto;
	max-height: 40px;
	margin: -12px 5px 0 0;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
}
.nav > li{
	float: left;
	margin-top: 4px;
	font-size: 16px;
}
.nav > li a:hover{
	background:transparent;
}
.navbar-toggle{
	margin: 12px;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}

/* Bric adjustment margins */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}

/* Buttons */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}

/* Button colour styles */

.btn-c-1{
	background:#5cb8e9;
	color:#FFF!important;
}
.btn-c-1:hover{
	background:#4a93ba;
	color:#FFF!important;
}

/* Link colour styles */

.ltc-2{
	color:#ffffff!important;
}
.ltc-2:hover{
	color:#cccccc!important;
}

/* Icons */
.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:60px!important;
}
.icon-xl{
	font-size:100px!important;
}
.icon-round{
	margin:0 auto;
	border:2px solid transparent;
	border-radius: 50%;
	padding: 32px 30px 26px 30px;
	min-width:80px;
}
.icon-round.icon-md{
	min-width:92px;
}
.icon-round.icon-lg{
	min-width:122px;
}
.icon-round.icon-xl{
	min-width:162px;
}


/* Image frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	box-shadow: 0 0 1px rgba(0,0,0,0.4),0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame,.img-frame-md,.img-frame-lg{
	border-radius:3px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}

/* Dividers */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}




/* Mobile adjustments */

@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
    }
    .container{
        padding-left:5px!important;
        padding-right:5px!important;
    }
    .bloc{
        text-align: center;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .navbar-collapse{
        padding:0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important;
    }
    .bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .a-block{
        text-align: center;
    }
    .btn-dwn{
       display:none;
    }
}
